h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 40%;
    color: blueviolet;
}
.Home{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20%;
}
.biblioteca{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20%;
}
.mensagens{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20%;
}
