h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 40%;
    color: blueviolet;
}
.Home{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20%;
}
.biblioteca{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20%;
}
.mensagens{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20%;
}
.buttoncadastro{
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}
.buttonlogin{
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}
.buttoncadastro img{
    display: block;
    width: 100px;
    height: auto;
}
.caixacentralizada {
    width: 250px;
    height: 500px;
    background: #ffff9e;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 2px #ffff9e;
}
.title{
    display: flex;
    justify-content: center;  
    align-items: flex-end;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkorchid;
}
.descript{
    display: flex;
    justify-content: center;  
    align-items: baseline;
    height: 40px;
    color: darkorchid;
}
#email{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 20px;
    color: darkorchid;

}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.girar-imagem {
    animation: girar 5s linear infinite; 
    width: 100px; 
    height: auto;
}